---
layout: landing
---

<section id="banner">
  <div class="inner">
    <h2>Erik 💝 Marian</h2>
    <p>{{ site.description | markdownify }}</p>
  </div>
  <a href="#details" class="more scrolly">Details</a>
</section>

<section id="details" class="wrapper style1 special">
  {% include sections/details.html %}
</section>

<section id="gallery" class="wrapper alt style2">
{% include sections/gallery.html %}
</section>

<section id="rsvp" class="wrapper alt style2">
{% include sections/rsvp.html %}
</section>
