<div class="inner">
  <header class="major">
    <p>
      In the greatest union since<br/>
      Han Solo &amp; Leia Skywalker,
    </p>
    <h2>Erik &amp; Marian <br/>are getting married!</h2>
    <p>02 / 22 / 2020</p>

    <p>
      Ceremony &amp; Reception at<br/>
      <a target="_blank" href="https://goo.gl/maps/QKPZoLDsH3q28uxe7">Ville Sommet<br/>
      Tagaytay, PH</a>
    </p>
    
    <p>Three in the Afternoon</p>
    
    <p>Semi-Formal Attire</p>
    <div>
      <div style="display:inline-block; width: 25px; height: 100px; 
        background: #e1caba; margin-right: 5px; transform: skew(-10deg);"></div>
      <div style="display:inline-block; width: 25px; height: 100px; 
        background: #edada3; margin-right: 5px; transform: skew(-10deg);"></div>
      <div style="display:inline-block; width: 25px; height: 100px; 
        background: #828282; margin-right: 5px; transform: skew(-10deg);"></div>
      <div style="display:inline-block; width: 25px; height: 100px; 
        background: #501423; margin-right: 5px; transform: skew(-10deg);"></div>
    </div>
  </header>
</div>
