<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Capistrano 💍 Burtanog</h2>
    <p>
      A long time ago, in a galaxy far far away... <br/><br/>
      It is a time of love and celebration across the universe. ERIK and MARIAN, as they rejoice in their marriage,
      reflected on their past and welcomed their future. The FORCE proved strong in their relationship, as it brought 
      together these two hearts to form an unbreakable alliance. With love in their hearts and stars in their eyes, 
      they begin a new chapter... <br/><br/>
      IN THEIR EPIC JOURNEY
    </p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>
      Set me as a seal upon your heart, as a seal upon your arm, for love is strong as death, jealousy is fierce as the grave. 
      Its flashes are flashes of fire, the very flame of the LORD. Many waters cannot quench love, neither can floods drown it. 
      If a man offered for love all the wealth of his house, he would be utterly despised. ~ Song of Solomon 8:6-7
    </p>
    <p>🐱🐱🐱</p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>
