<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
  </div>

</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2><a href="http://www.villesommet.ph/" target="blank_">Ville Sommet</a></h2>
	<p>
    Ville Sommet sits atop the border of Tagaytay and Alfonso, Cavite. With undulating hillocks and towering pine trees, 
    not only is it the perfect backdrop four Erik and Marian's wedding, but also the ideal destination for a quick yet
    magical getaway. Here is the place of possibilities as it transforms from being your very own secret garden in the
    day into a scene of your favorite romance novel at night.
  </p>
  <p>
    Love lives here.
  </p>
  </div>
  <iframe class="image" src="https://docs.google.com/forms/d/e/1FAIpQLSegkQ2XPpehfjhxTOcNuj287dMqkyUA3WnLsQ287SZTxj0ALQ/viewform?embedded=true" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2>Gift Guide</h2>
    <p>
      We hope you can join us in celebrating our marriage! Please know that your presence is the best gift you could provide. Please do not feel obligated to give anything else. But should you feel inclined, we are very much looking forward to a honeymoon and any contribution towards that will always be sincerely appreciated.
    </p>
  </div>
  <iframe class="image" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7739.5261608947685!2d120.89188783832135!3d14.091158371535128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd9d7e9ccc612b%3A0x21bc1beb11105152!2sVille%20Sommet!5e0!3m2!1sen!2sph!4v1578313726766!5m2!1sen!2sph" height="488" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</section>
