<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
  </div>

</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2><a href="http://haciendaisabella.com/" target="blank_">Hacienda Isabella</a></h2>
    <p>
      You need a getaway. And fast. What’s holding you back? You don’t want to feel as if you were far, 
      far away from the city. You want to pay good money for a nice place. But somehow every other resort 
      feels too generic. same old cabanas, same old bungalows. as if it would hurt to have just a little 
      more uniqueness and style. You need to feel refreshed and recharged after, not tired out and exhausted.
    </p>
    <p>
      Hacienda Isabella… the possibilities are endless.
    </p>
  </div>
  <iframe class="image" src="https://docs.google.com/forms/d/e/1FAIpQLSegkQ2XPpehfjhxTOcNuj287dMqkyUA3WnLsQ287SZTxj0ALQ/viewform?embedded=true" 
    height="680" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2>Gift Guide</h2>
    <p>
      We hope you can join us in celebrating our marriage! Please know that your presence is the best gift you could provide. 
      Please do not feel obligated to give anything else. But should you feel inclined, we are very much looking forward to a 
      honeymoon and any contribution towards that will always be sincerely appreciated.
    </p>
  </div>
  <iframe class="image" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15474.730317671061!2d120.8764497!3d14.1547498!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bc57956ba0b06b8!2sHacienda%20Isabella!5e0!3m2!1sen!2sph!4v1580218882799!5m2!1sen!2sph"
    height="488" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>
